<div class="center">
    <h3>About me </h3>
</div>
<div class="kb-container" style="padding: 0 20px 40px 20px">


    <div class="kb-cola" style="width: 50%">
        <h3 class="text-dark mb-30" style="padding-top: 25px;">My Experience</h3>
        <div class="timeline">

            <!--item 1-->
            <div class="item">
                <div class="content">
                    <h6 class="mh">Internship
                        <span class="text-muted"> - </span>Ernst & Young
                    </h6>
                    <small class="text-muted">2017 (May-July)</small>
                    <p class="mb">I have Worked here as a junior web developer in creating a dashboard
                        with the help of Javascript & NodeJS.</p><br>
                    <p>The goal of the dashboard was to represent the data in a graphical format which was present in
                        the back-end.</p>
                </div>
            </div>
            <!--item 2-->
            <div class="item">
                <div class="content">
                    <h6 class="mh">Senior Analyst
                        <span class="text-muted"> - </span> Capgemini
                    </h6>
                    <small class="text-muted">2018 (September)- Present</small>
                    <p class="mb">I have worked as a web developer and Revamped FrontEnd by
                        extracting/rewriting the
                        common components for browser and other platform</p>
                    <p>Handled all the validations,enchancements,bugs of the
                        screens.</p>
                </div>
            </div>


        </div>
    </div>
    <div class="kb-colb" style="width: 50%">
        <h3 class="text-dark mb-30">My Education</h3>
        <div class="timeline">

            <div class="item">
                <div class="content">
                    <h6 class="mh">10th Degree
                        <span class="text-muted"> - </span>St. Anselm's School
                    </h6>
                    <small class="text-muted">2012</small>
                    <p class="mb">I am a 10th passed student of St. Anselm's School from CBSE board
                        with a CGPA of 8.0
                    </p>
                </div>
            </div>

            <div class="item">
                <div class="content">
                    <h6 class="mh">12th Degree
                        <span class="text-muted"> - </span> St. Anselm's School
                    </h6>
                    <small class="text-muted ">2014</small>
                    <p class="mb">I completed my 12th from St. Anselm's School.</p>
                </div>
            </div>


            <div class="item">
                <div class="content">
                    <h6 class="mh">Bachelor Degree
                        <span class="text-muted"> - </span> SKIT
                    </h6>
                    <small class="text-muted">2014-2018</small>
                    <p class="mb">I did my Bachelors in Information technology Engineering from SKIT
                        in 2018.</p>
                </div>
            </div>
        </div>
    </div>
</div>
