* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0;
  font-family: inherit;
  outline: none !important;
  list-style: none !important;
  text-decoration: none !important; */
}
.kb-container{
  display: flex;
    padding-top: 15px;
    padding-bottom: 0;
}

.center{
  text-align: center;
  justify-content: center;
  padding-top:25px;
}
.kb-colb{
  padding: 25px;
}

.timeline {
  min-height: 450px;
  padding:0 25px 25px 25px;
  position: relative;
  top:25px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
  box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
}

.timeline .item {
  position: relative;
}

.timeline .item .content {
  padding: 0px 0px 50px 50px;
  border-left: 1px solid #f21e4e;
}

.timeline .item::after {
  position: absolute;
  content: "";
  left: -6px;
  top: 6px;
  width: 13px;
  height: 13px;
  background-color: #f21e4e;
  border-radius: 50%;
}


.timeline .mh {
  color: #343a40 !important;
  font-size: medium;
}

.timeline .mh .mb {
  margin-bottom: 0px !important;
}




