<div class="kb-container">
  <div class="fcon">
    <div class="profile">
      <div>
        <img alt="image of kabeer" class="avatar1 z-depth-5" src="assets/kabeer1.jpg"
          style=" border-radius: 50%; width: 350px;">

      </div>
    </div>
    <div class="kb-desc">
      <h1>Hey 👋</h1>
      <h1>I'm Kabeer Chaturvedi</h1>
      <h3>Welcome to my website</h3>

  </div>
  <!-- <i class="fa fa-whatsapp fa-2x">WhatsApp me</i> -->
  <div class="wrapper">
    <div class="icon github">
      <div class="tooltip">
        Github</div>
      <span><a href="https://github.com/kabeerchaturvedi" target="_github">
          <i class="fa fa-github-square fa-2x" aria-hidden="true">
          </i>
        </a>
      </span>
    </div>

    <div class="icon linkedin">
      <div class="tooltip">
        Linkedin</div>
      <span><a href="www.linkedin.com/in/kabeerchaturvedi" target="_linkedin">
          <i class="fa fa-linkedin-square fa-2x" aria-hidden="true">
          </i>
        </a>
      </span>
    </div>

    <div class="icon facebook">
      <div class="tooltip">
        Facebook</div>
      <span><a href="https://www.facebook.com/ChaturvediKabeer" target="_fb">
        <i class="fa fa-facebook-f fa-2x" aria-hidden="true">
        </i>
      </a>

      </span>
    </div>


    <div class="icon twitter">
      <div class="tooltip">
        Twitter</div>
      <span>
        <a href="https://twitter.com/ckabeer07" target="_twitter">
          <i class="fa fa-twitter-square fa-2x" aria-hidden="true">

          </i>
        </a>

      </span>
    </div>

    <div class="icon instagram">
      <div class="tooltip">
        Instagram</div>
      <span>
        <a href="https://www.instagram.com/kabeerchaturvedi/" target="_insta">
          <i class="fa fa-instagram fa-2x" aria-hidden="true">
          </i>
        </a>

      </span>
    </div>
  </div>











</div>
