<div class="center">
  <h3>Projects</h3>
</div>
<div class="kb-container">
  <div class="kb-row">
    <div class="card">
     <div class="card-image waves-effect waves-block waves-light" style="width: 40%">
            <img class="responsive-image" src="assets/Covid.PNG" style="max-width: 500px">
          </div>
          <div style="flex-grow: 1;">
            <div class="card-content" >
              <span class="card-title activator grey-text text-darken-4">
                <h4>
                  This project was made on ReactJS,along with the help of NodeJS in which the user could select different
                  countries and see the live status of covid
                  patients.The data is fetched from the API and we'll create cards displaying the statistics as well as
                  Charts.
                </h4><br>
                <h4><i>The technologies used: ReactJS, Charts.js, Material UI</i></h4>
              </span>
            </div>
          </div>

      </div>
      </div>

      <div class="kb-row">
        <div class="card">
         <div class="card-image waves-effect waves-block waves-light" style="width: 50%">
              <img class="responsive-image" src="assets/EY.jpg" style="max-width: 500px">
            </div>
              <div style="flex-grow: 1;">
                <div class="card-content" >
                  <span class="card-title activator grey-text text-darken-4">
                    <h4>
                      The data was represented in different forms of charts
    and was dispalyed according to the data present in the
    backend
                    </h4><br>
                    <h4><i>  The technologies used were: NodeJS,Express,MySQL</i></h4>
                  </span>
                </div>
              </div>

          </div>
          </div>


  </div>

