* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

  }
.kb-container{
width: 100%;
padding-top: 15px;
padding-right: 40px;
padding-bottom: 0px;
padding-left: 40px;

}
.card{
display: flex;
flex-direction: row;


}
  

.kb-row{
  padding-top: 15px;
}

  .leftcol .card .responsive-image{
    
    position:center;
    width: auto;
    height: 150px;
    margin-left: auto;
  margin-right: auto;
    display: block;
  }


  .leftcol .card:hover{
    transform: scale(1.1);
    transition: 1s;
  }
  .card-content{
    text-align: center;
    min-height: 150px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  @media screen and (max-width: 600px) {
    .leftcol,.rightcol {
      width: 100%;
    }
  }
