* {
    box-sizing: border-box;

  }
  .kb-container{
    width:100%;
    align-items: center;
    justify-content: center;
    display: inline-block;

  }
.center{
  align-items: center;
  justify-content: center;
}
  .kb-row{
    margin-left: 50px;
    margin-right: 50px;
  }
  .column {
    float: left;
    width: 25%;
    padding: 10px;
    flex-gkb-row: 1;

  /* padding: 10px; */

  }
  .column .card .responsive-image{

    position:center;
    width: auto;
    height: 150px;
    margin-left: auto;
  margin-right: auto;
    display: block;
  }


  .column .card:hover{
    transform: scale(1.05);
    transition: 1s;
  }
  .card-content{
    text-align: center;
  }
  .kb-row:after {
    content: "";
    display: table;
    clear: both;
  }


  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
