
<div class="kb-container">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  <div class="center">
  
    <h3>Frameworks & Languages</h3>
  
  </div>
  
  <div class="kb-row">

    <div class="column">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="responsive-image" src="assets/angular-logo.svg"
            style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Angular</span>
        </div>
      </div>
    </div>



    <div class="column">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="responsive-image" src="assets/React.png"
            style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">React</span>
        </div>
      </div>
    </div>


    <div class="column">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="responsive-image" src="assets/mongodb.png"
            style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">MongoDB</span>
        </div>
      </div>
    </div>


    <div class="column">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="responsive-image" src="assets/NodeJS.png"
            style="height: 150px; background-repeat: no-repeat; background-size: contain;background-position: center center;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">NodeJS</span>
        </div>
      </div>
    </div>
  </div>




  <div class="kb-row">

    <div class="column">
      <div class="card">
        <div>
          <img class="responsive-image" src="assets/webpack.png"
            style="background-repeat: no-repeat; background-size: contain;background-position: center center;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Webpack</span>
        </div>
      </div>
    </div>



    <div class="column">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="responsive-image" src="assets/Gulp.png"
            style="background-repeat: no-repeat; background-size: contain;background-position: center center;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Gulp</span>

        </div>
      </div>
    </div>


    <div class="column">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="responsive-image" src="assets/Grunt.png"
            style=" background-repeat: no-repeat; background-size: contain;background-position: center center;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Grunt</span>
        </div>
      </div>
    </div>


    <div class="column">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="responsive-image" src="assets/Bower.png"
            style="background-repeat: no-repeat; background-size: contain;background-position: center center;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Bower</span>
        </div>
      </div>
    </div>
  </div>

  <div class="kb-row">

    <div class="column">
      <div class="card">
        <div>
          <img class="responsive-image" src="assets/html.png"
            style="background-repeat: no-repeat; background-size: contain;background-position: center center;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">HTML 5</span>
        </div>
      </div>
    </div>



    <div class="column">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="responsive-image" src="assets/js.png"
            style="background-repeat: no-repeat; background-size: contain;background-position: center center;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">JavaScript</span>

        </div>
      </div>
    </div>


    <div class="column">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="responsive-image" src="assets/css.png"
            style=" background-repeat: no-repeat; background-size: contain;background-position: center center;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">CSS3</span>
        </div>
      </div>
    </div>


    <div class="column">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="responsive-image" src="assets/bootstrap.png"
            style="background-repeat: no-repeat; background-size: contain;background-position: center center;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
  

  <div class="kb-row">

    <div class="column">
      <div class="card">
        <div>
          <img class="responsive-image" src="assets/materialize.png"
            style="background-repeat: no-repeat; background-size: contain;background-position: center center;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Materialize</span>
        </div>
      </div>
    </div>



    <div class="column">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="responsive-image" src="assets/mysql.png"
            style="background-repeat: no-repeat; background-size: contain;background-position: center center;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">MySQL</span>

        </div>
      </div>
    </div>


    <div class="column">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="responsive-image" src="assets/oracledb.png"
            style=" background-repeat: no-repeat; background-size: contain;background-position: center center;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">OracleDB</span>
        </div>
      </div>
    </div>


    <div class="column">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="responsive-image" src="assets/github.png"
            style="background-repeat: no-repeat; background-size: contain;background-position: center center;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Github</span>
        </div>
      </div>
    </div>
  </div>
</div>